@model Pro.Models.Content
<div>
    <b> Изменён: </b>
    @Html.DisplayFor(model => model.Date)
</div>
<br>
<div>
    <b> Требования: </b>
    @ViewBag.Requirements
</div>
<br>
@using (Html.BeginForm("SaveContent", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.TaskId)
    @Html.HiddenFor(model => model.ContentTemplateId)
    @Html.HiddenFor(model => model.ContentStatusId)

    <b> Комментарий: </b>
    @Html.TextAreaFor(model => model.Comment, 5, 200, new { @class = "form-control" })

    <br>
    <div class="form-group">        
        @if (Model.ContentStatusId == (int)Pro.Logic.Auth.ContentStatus.Accepted)
        {
            <input name="action" type="submit" value="Изменить" class="btn btn-default" />
        }
        else
        {
            <input name="action" type="submit" value="Сохранить" class="btn btn-default" style="margin-right: 10px;" />
            <input name="action" type="submit" value="Отмена" class="btn btn-default" style="margin-right: 50px;" />
            <input name="action" type="submit" value="Принять" class="btn btn-default" />
        }
    </div>
}
<br>
<div>
    @Html.DisplayFor(model => model.Text)
</div>
